.container-profile {
    width: 90%;
    margin-right:auto;
    margin-left:auto;
}

.breadcrumb-admin {
    background-color: #555555;
    color: white;
    font-size: 18px;
    margin-top: 10px;
}

.tab-content {
    margin: 20px 40px 10px 40px;
}

.list {
    margin: 20px;
}

.btn-remove-user {
    margin-bottom: 10px;
}