.card {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    min-width: auto;
    max-width: 1100px;
    min-height: auto;
    max-height: 900px;
}

.event-card {
    margin-bottom: 20px;
}

.breadcrumb {
    background-color: #555555;
    color: white;
    font-size: 18px;
}