<div class="container">
  <div class="jumbotron search-field">
    <h1>Welcome</h1>
    <h3>You're in Eventbook.</h3>
    <!-- <form class="form-inline my-2 my-lg-0 login-form">
      <input id="search-box" class="form-control mr-sm-2 search-box" type="text" placeholder="Search" #keyword>
      <div class="form-group">
        <p>Catagory: </p>
        <select class="form-control cata-box" (change)="getCatagory($event.target.value)">
          <option value="" selected>All</option>
          <option value="Acting - งานการแสดง">Acting - งานการแสดง</option>
          <option value="Signing ceremony - งานแจกลายเซ็น">Signing ceremony - งานแจกลายเซ็น</option>
          <option value="Road show - งานแสดงข้างถนน">Road show - งานแสดงข้างถนน</option>
          <option value="Exhibition - งานนิทรรศการ">Exhibition - งานนิทรรศการ</option>
          <option value="Product Launch - งานเปิดตัวสินค้า">Product Launch - งานเปิดตัวสินค้า</option>
          <option value="Opening - งานเปิดร้าน">Opening - งานเปิดร้าน</option>
          <option value="Party - งานจัดเลี้ยง">Party - งานจัดเลี้ยง</option>
          <option value="Meeting - งานพบปะ">Meeting - งานพบปะ</option>
          <option value="Charity event - งานการกุศล">Charity event - งานการกุศล</option>
          <option value="Fashion show - งานแสดงแฟชั่น">Fashion show - งานแสดงแฟชั่น</option>
          <option value="Expo event - งานแสดงสินค้า">Expo event - งานแสดงสินค้า</option>
          <option value="Seminar - งานสัมมนา">Seminar - งานสัมมนา</option>
        </select>
      </div>
    </form>
    <br/>
    <div class="search-btn">
      <button class="btn btn-success my-2 my-sm-0" type="submit" (click)="showSearch(keyword.value)">Search</button>
    </div> -->
  </div>

  <app-search-result></app-search-result>
</div>