<div class="container-profile">
  <ol class="breadcrumb breadcrumb-profile">
    <li class="breadcrumb-item">Username/Nickname</li>
  </ol>

  <!-- <div class="jumbotron jumbotron-profile">

  </div> -->

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#profile">Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#event">Event ที่เข้าร่วม</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#myevent">Event ของตนเอง</a>
    </li>
  </ul>

  <div id="myTabContent" class="tab-content">
    <div class="tab-pane fade in active show" id="profile">
      <p>This is Profile.</p>
    </div>
    
    <div class="tab-pane fade" id="event">
      <p>This is Event.</p>
    </div>

    <div class="tab-pane fade" id="myevent">
      <p>This is my event.</p>
    </div>
  </div>
</div>