h4 {
    margin-top: 20px;
}

.container-profile {
    width: 90%;
    margin-right:auto;
    margin-left:auto;
}

.breadcrumb-profile {
    background-color: #555555;
    color: white;
    font-size: 18px;
    margin-top: 10px;
}

.jumbotron-profile {
    background-color: #BBBBBB;
    height: 250px;
    margin-bottom: 15px;
}

.nav-tabs {
    margin-left: 20px;
    margin-right: 20px;
}

.tab-content {
    margin: 20px 40px 10px 40px;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}