h3 {
    text-align: center; 
    margin-top: 40px;
    margin-bottom: 30px;
}

.card {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    min-height: 400px;
    max-height: 900px;
}

.signup-form {
    padding: 20px;
}

.signup-btn {
    display: flex;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

#warning{
    color: red;
    padding-left: 30px;
}